* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #133a25;
}
header {
    display: flex;
    justify-content: space-between;
     margin: 2rem auto;
    padding: 20px;
}
.navg ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.navg a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.navg a:hover {
    color: #480303;
        
}
hr{
    opacity: 10%;
}